#welcome {
    .avatar{
        width: calc(var(--baseline) * 4);
        margin: 0 0 calc(var(--baseline) * 1) 0;
    }
    p{
        width: 50%;
        margin: 0 auto calc(var(--baseline) /2);
    }
}