img#brand{
    height: calc(var(--baseline) * 1.5);
    margin-top: calc(var(--baseline) * .5);
    outline: 1px red dashed;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: calc(var(--baseline) * .75);
  }

.link{
    outline: 1px red dashed; 
}

