img#brand{
    height: calc(var(--baseline) * 1.5);
    margin: calc(var(--baseline) * .5) 0 0 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin-top: calc(var(--baseline) * 1);
  }

/*.link{
    //outline: 1px red dashed; 
}*/

