.herobase{
    background: var(--color-fill-4)  url(../../../images/banners/tiler-base-5.svg) 50% 0%; 
    //background-size: 30% auto;
    background: url(../../../images/banners/tiler-base-5.svg);
}
.hero{ 
    img{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    &:after{
        display: block;
        position: absolute;
        background: linear-gradient(180deg, rgba(47,62,70,0) 0%, rgba(47,62,70,0.75) 100%);
        content: '';
        width: 100%;
        height: calc(var(--baseline) * 4);
        bottom: 0;
        left: 0;
    }
}