

@for $i from 1 through 5 {
    [class~=grid] [class*=col-].top-#{$i} {
        padding-top: calc(var(--baseline) * (#{$i}/2));
        //width: (100% / $i);
    }
}
.panel{
    background: var(--color-fill-1);
}
.panel-dark{
    color: var(--color-fill-2);
    padding: calc(var(--baseline) * 1) 0;
    margin: calc(var(--baseline) * 2) 0 0;
    outline: 1px cyan dashed;
    background-color: var(--color-fill-4);    
    background-size: 60%;
    background-image: url(../../../images/banners/tiler-base-5.svg);
}
.tile-1{
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 432 216' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='140' height='104' style='fill:url(%23final)'/%3E%3C/svg%3E");
} 
.inner{
    padding: calc(var(--baseline) * 1) 0;
}
.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.underline{
    border-bottom: 1px solid #999;
}
.button-container{
    text-align: center;
}
.button{ /* Primary button */
    line-height: calc(var(--baseline) *1);
    border-radius: calc(var(--baseline) * 1);
    font-size: calc(var(--typescale) * 1rem);
    font-size: 1rem;
    border: 1px solid var(--color-sig-hover);
    color:  var(--color-sig4);
    padding:0 3vw;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
    &:hover{
        color: var(--color-sig-hover);
    }
}

