

@for $i from 1 through 5 {
    [class~=grid] [class*=col-].top-#{$i} {
        padding-top: calc(var(--baseline) * (#{$i}/2));
        //width: (100% / $i);
    }
}
.panel{
    background: var(--color-fill-1);
}
.panel-dark{
        color: var(--color-fill-3);
        padding: calc(var(--baseline) * 1) 0;
        margin: calc(var(--baseline) * 2) 0 0;
        background-color: var(--color-fill-4); 
        
        background-size: 30% auto;
        background-image: 
            linear-gradient(to bottom, 
            rgba(47,62,70,1) 0%, 
            rgba(47,62,70,1) 15%, 
            rgba(47,62,70,0) 15%,
             rgba(47,62,70,0) 100%),
            url(../../../images/banners/tiler-base-3.svg); 
        padding-bottom: calc(var(--baseline) * 5);
}
.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.underline{
    border-bottom: 1px solid #999;
}
.button-container{
    text-align: center;
}
.button{ /* Primary button */
    line-height: calc(var(--baseline) *1);
    border-radius: calc(var(--baseline) * 1);
    font-size: calc(var(--typescale) * 1rem);
    font-size: 1rem;
    border: 1px solid var(--color-sig-hover);
    color:  var(--color-sig4);
    padding:0 3vw;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
    &:hover{
        color: var(--color-sig-hover);
    }
}

