

@for $i from 1 through 5 {
    [class~=grid] [class*=col-].top-#{$i} {
        padding-top: calc(var(--baseline) * (#{$i}/2));
        //width: (100% / $i);
    }
}
.panel{
    background: #ddd;
}
.ctr{
    text-align: center;
}
.underline{
    border-bottom: 1px solid #999;
}

.button{
    /* Primary button */


box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;


background: #F72E53;
border-radius: 3px;



font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 31px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}

