.wrapper
  .container
    .grid
      #welcome.grid.col-2_sm-5.ctr.top-4  
        a(href='#', title='Home')
          img.avatar(src='images/assets/trish.png', alt='Trish')
          p.col-1 Welcome! Trashmonger is my place to share the things I make and the things I see. Let me know if you find something you like!
      .col-3_sm-5.top-2
        h3.underline New release
        .grid.panel
          .col-3 
              img.artwork(src="images/artwork/demo.jpg")
          .col-2
              h4 Leaving New York
              p It's easier to leave than to be left behind. Leaving was never my proud. Leaving New York, never easy. I saw the light fading out.
              .button-container
                button.button Add to cart

