.wrapper
  .container
    .grid
      .col-2_sm-5.ctr(id='welcome')
        a(href='#', title='Home')
          img(src='images/avatar.svg', alt='Trish')
      .col-3_sm-5.grid
        .col-3 
            img.artwork(src="images/artwork/image11.jpeg")
        .col-2
            h4 Leaving New York
            p It's easier to leave than to be left behind. Leaving was never my proud. Leaving New York, never easy. I saw the light fading out.


