.wrapper
  .container
    .grid-5_sm-1
      .col 
        img.artwork(src="images/artwork/image0.jpeg")
        h4 Title artwork #1
        p You're just like crosstown traffic. So hard to get through to you. Crosstown traffic
      .col 
        img.artwork(src="images/artwork/image1.jpeg")
        h4 Title artwork #2
        p You're just like crosstown traffic. So hard to get through to you. Crosstown traffic
      .col 
        img.artwork(src="images/artwork/image8.jpeg")
        h4 Title artwork #3
        p You're just like crosstown traffic. So hard to get through to you. Crosstown traffic
      .col 
        img.artwork(src="images/artwork/image3.jpeg")
        h4 Title artwork #4
        p You're just like crosstown traffic. So hard to get through to you. Crosstown traffic
      .col 
        img.artwork(src="images/artwork/image4.jpeg")
        h4 Title artwork #5
        p You're just like crosstown traffic. So hard to get through to you. Crosstown traffic
