.wrapper
  .container
    .grid-5_sm-1
      .col 
        img.artwork(src="images/artwork/image11.jpeg")
        h4 Leaving New York
        p It's easier to leave than to be left behind. Leaving was never my proud. Leaving New York, never easy. I saw the light fading out.
      .col 
        img.artwork(src="images/artwork/image4.jpeg")
        h4 Maps and Legends
        p Maybe he's caught in the legend. Maybe he's caught in the mood. Maybe these maps and legends. Have been misunderstood.
      .col 
        a(href="#")
          img.artwork(src="images/artwork/image8.jpeg")
        a(href="#")
          h4 Cross-town Traffic
        p You're just like crosstown traffic. So hard to get through to you. Crosstown traffic
      .col 
        img.artwork(src="images/artwork/image10.jpeg")
        h4 Fall on Me
        p Buy the sky and sell the sky. And tell the sky, and tell the sky. Don't fall on me.
      .col 
        img.artwork(src="images/artwork/image4.jpeg")
        h4 Living Well Is the Best Revenge
        p So who's chasing you? Where did you go? You disappeared mid-sentence. In a judgement crisis I see my anecdote for it.
