.wrapper.panel-dark
  .container
    h3.underline New release
    .grid-center
      .col_sm-2
        a(href="#")
          img.artwork(src="images/artwork/image11.jpeg")
          h4 Leaving New York
        span.social It's easier to leave than to be left behind. Leaving was never my proud. Leaving New York, never easy. I saw the light fading out.
      .col_sm-2
        a(href="#")
          img.artwork(src="images/artwork/image4.jpeg")
          h4 Maps and Legends
        span.social Maybe he's caught in the legend. Maybe he's caught in the mood. Maybe these maps and legends. Have been misunderstood.
      .col_sm-2 
        a(href="#")
          img.artwork(src="images/artwork/image8.jpeg")
          h4 Cross-town Traffic
        span.social You're just like crosstown traffic. So hard to get through to you. Crosstown traffic
      .col_sm-2
        a(href="#")
          img.artwork(src="images/artwork/image10.jpeg")
          h4 Fall on Me
        span.social Buy the sky and sell the sky. And tell the sky, and tell the sky. Don't fall on me.
      .col_sm-2
        a(href="#")
          img.artwork(src="images/artwork/image6.jpeg")
          h4 Living Well Is the Best Revenge
        span.social So who's chasing you? Where did you go? You disappeared mid-sentence. In a judgement crisis I see my anecdote for it.
