.wrapper
  .container
    header.grid
      .col-3_xs-4(id='branding')
        a(href='#', title='Home')
          img(src='images/trashmonger.svg', alt='Trashmonger', id='brand')/ 
      .col-2_xs-hidden
        nav.navbar
          a.link(href='#', title='About') About 
          a.link(href='#', title='Contact') Contact
      .col-1.mobilenav
        .hamburger
          input#toggle.hamburger_input(type='checkbox', name='hamburger', value='0')
          label.hamburger_label(for='toggle')
            span
          .hamburger_body
            ul
              li
                a.link(href='gallery.html', title='About') Gallery 
              li
                a.link(href='about.html', title='About') About 
              li
                a.link(href='contact.html', title='Contact') Contact 
 
