.wrapper
  .container
    header.grid
      .col-3_sm-5(id='branding')
        a(href='#', title='Home')
          img(src='images/trashmonger.svg', alt='Trashmonger', id='brand')
      .col-2
        nav.tertiary
          a.link(href='#', title='About') About
          a.link(href='#', title='Store') Blog
          a.link(href='#', title='Contact') Contact
