.wrapper.social
  .container
    .grid.center
        .col-1
        .col-4
            h3.underline Instagram
            svg 
                use(href="#icon-instagram")
    .grid.center
        .col-1
        .col-3_sm-5
            img.avatar(src='images/photos/image-1.jpg', alt='Cycle')
        .col-1
            span.social If you’re a fan of Cooper Black, Corben is an excellent free alternative. This fat and toony serif is perfect for anything that should have a 1920s feel to it.
    .grid.center
        .col-1
        .col-1
            img.avatar(src='images/photos/image-9.jpg', alt='Cycle')
            span.social If you’re a fan of Cooper Black, Corben is an excellent free alternative. This fat and toony serif is perfect for anything that should have a 1920s feel to it.
        .col-1
            img.avatar(src='images/photos/image-23.jpg', alt='Cycle')
            span.social If you’re a fan of Cooper Black, Corben is an excellent free alternative. This fat and toony serif is perfect for anything that should have a 1920s feel to it.

        .col-1
            img.avatar(src='images/photos/image-17.jpg', alt='Cycle')
            span.social If you’re a fan of Cooper Black, Corben is an excellent free alternative. This fat and toony serif is perfect for anything that should have a 1920s feel to it.


        