doctype html
html(lang='en')
  head
    title  Trashmonger
    meta(name='viewport', content='width=device-width, initial-scale=1')
    include _favicons
    link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,600;1,200;1,500;1,600&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='assets/styles/css/styles.css')

  body.-vr.-labelling.-feedback

    include _header-nav

    include _hero

    include _feature

    include _five-col

    include _social

    include _footer

     span.device

     include _icons-lib