doctype html
html(lang='en')
  head
    title  Trashmonger
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='assets/styles/css/styles.css')
  body.vr.labelling

    include _header-nav

    include _hero

    include _feature.pug

    include _five-col.pug
    
    span.device